<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="thema7exercise1" frontName="thema7exercise1">
            <module name="Perspective_Thema7exercise1" />
        </route>
    </router>
</config>